@model bioResearchSystem.Web.Models.Researсhes.ResearchModel
@using bioResearchSystem.Models.Enums

@{
    var userNick = $"@{Model.AppUser.UserName}";

}

<div class="row mt-2">
    <div class="col-md-4 order-md-2 mb-4">
        <h4 class="d-flex justify-content-between align-items-center mb-3">
            <span class="text-muted">Further information</span>
        </h4>
        <ul class="list-group mb-3">
            <li class="list-group-item d-flex justify-content-between lh-condensed">
                <div>
                    <h6 class="my-0">@userNick</h6>
                    <small class="text-muted">The Head of Resarch</small>
                </div>

            </li>
            <li class="list-group-item d-flex justify-content-between lh-condensed">
                <div>
                    <h6 class="my-0">Expriments</h6>
                    <small class="text-muted">Total number expriments</small>
                </div>
                <span class="text-muted">@Model.Experiments.Count()</span>
            </li>
            <li class="list-group-item d-flex justify-content-between lh-condensed">
                <div>
                    <h6 class="my-0">Objectives</h6>
                    <small class="text-muted">Tasks that must be done</small>
                </div>
                <span class="text-muted">@Model.Objectives.Count()</span>
            </li>
            <li class="list-group-item d-flex justify-content-between lh-condensed">
                <div>
                    <h6 class="my-0">Scientists</h6>
                    <small class="text-muted">Research staff</small>
                </div>
                <span class="text-muted">@Model.Contracts.Count()</span>
            </li>
            <li class="list-group-item d-flex justify-content-between">
                <span>Status Resarch</span>
                <strong>@Model.StatusResearch</strong>
            </li>
        </ul>
        @if (Model.AppUser.Id != Model.CurrentUser.Id)
        {
            @if (!Model.IsParticipate)
            {
                @if (Model.Privacy == Privacy.Public)
                {
                    <a style="width:100%" class="btn btn-success" href='@Url.Action("Join", "Researches", new {   researchId = @Model.Id.ToString() }, null)'>Join</a>
                }
                else
                {
                    <form class="card p-2">
                        <input type="submit" class="btn btn-secondary " style="width:100%" value="This research private" disabled>
                    </form>
                }
            }
            else
            { 
                <a style="width:100%" class="btn btn-outline-primary" href='@Url.Action("CreateExperiment", "Experiments", new {   researchId = @Model.Id.ToString() }, null)'>Explore</a>
                <a style="width:100%; margin-top:25px;" class="btn btn-danger" href='@Url.Action("Leave", "Researches", new {   researchId = @Model.Id.ToString() }, null)'>Leave</a>


            }
        }
        else
        {
            <form asp-for="ManageResearch" class="card p-2">
                <input type="submit" class="btn btn-primary" style="width:100%" value="Manage">
            </form>
        }
    </div>
    <div class="col-md-8 order-md-1">
        @Html.Raw(Model.Description)
    </div>

</div>
