@model bioResearchSystem.Web.Models.Experiments.ExperimentModel


<div class="container-fluid text-center mt-3">
    <form asp-action="StratProcessing">
        <div class="row content">

            <div class="col-sm-2 sidenav">
                <h6 class="my-0">Report</h6>
                <small class="text-muted">Select compatiable format report</small>
                <p><a href="#">xml</a></p>
                <input asp-for="ResearchId" hidden />
                <input asp-for="Id" hidden />
            </div>
            <div class="col-sm-8 text-left">
                <h6>@Model.NameExperiment</h6>
                <small class="text-muted">@Model.Goal</small>
                <hr>
                <h6>Data DNA box</h6>
                <input class="form-control" asp-for="Kmer" min="1" max="1000" />
                <textarea cols="30" rows="5" asp-for="Data"></textarea>
                <button class="btn btn-info btn-sm" onclick="get_data(@Model.Id)">Start squencing process</button>
                <hr />
                @if (Model.Result != null)
                {
                    <table class="table table-bordered table-dark">
                        <thead>
                            <tr>
                                <th scope="col">Sub-K-mers</th>
                                <th scope="col">Match</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (KeyValuePair<string, int> kvp in Model.Result)
                            {
                                <tr>
                                    <th scope="row">@kvp.Key</th>
                                    <td>@kvp.Value</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                }
                else
                {
                    <p class="common-text">The experiment has not started yet. Please pick algorithm and generate data</p>
                }
            </div>
            <div class="col-sm-2 sidenav">
                <h6 class="my-0">Algorithms</h6>

                <small class="text-muted">Pick algorithm</small>
                <hr />
                @if (Model.Result is null)
                {
                    <h2> <input class="badge badge-secondary" type="submit" value="K-mers computing"></h2>
                }
                else
                {
                    <h2> <span class="badge badge-secondary">K-mers computing</span></h2>
                }
            </div>
        </div>
    </form>
</div>

@section Scripts{
    <script src="~/js/request-to-get-dnajs.js"></script>
}