@model bioResearchSystem.Web.Models.Experiments.ExperimentModel


<div class="container-fluid text-center mt-3">
    <form asp-action="StratProcessing">
        <div class="row content">

            <div class="col-sm-2 sidenav">
                <h6 class="my-0 pretty-text">Report</h6>
                <small class="text-muted pretty-text">Select compatiable format report</small>
                <p><a href="#">xml</a></p>
                <input asp-for="ResearchId" hidden />
                <input asp-for="Id" hidden />
            </div>
            <div class="col-sm-8 text-left">
                <h4 class="pretty-text">@Model.NameExperiment</h4>
                <p class="text-muted pretty-text">@Model.Goal</p>
                <hr>
                <h6 class="pretty-text">Data DNA box</h6>
                <input class="form-control" asp-for="Kmer" min="1" max="1000"  value="1"/>
                <textarea cols="80" rows="7"  class="mt-3" asp-for="Data"></textarea>
                <br/>
                <button class="btn btn-info btn-sm" onclick="get_data(@Model.Id)">Start squencing process</button>
                <hr />
                @if (Model.Result != null)
                {
                    <table class="table table-bordered table-dark pretty-text">
                        <thead>
                            <tr>
                                <th scope="col">Sub-K-mers</th>
                                <th scope="col">Match</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (KeyValuePair<string, int> kvp in Model.Result)
                            {
                                <tr>
                                    <th scope="row">@kvp.Key</th>
                                    <td>@kvp.Value</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                }
                else
                {
                    <p class="common-text pretty-text">The experiment has not started yet. Please pick algorithm and generate data</p>
                }
            </div>
            <div class="col-sm-2 sidenav">
                <h6 class="my-0 pretty-text mt-5">Algorithms</h6>

                <small class="text-muted pretty-text">Pick algorithm</small>
                <hr />
                @if (Model.Result is null)
                {
                    <input class="btn btn-primary" type="submit" value="K-mers computing">
                }
                else
                {
                   <span class="badge badge-secondary">K-mers computing</span>
                }
            </div>
        </div>
    </form>
</div>

@section Scripts{
    <script src="~/js/request-to-get-dnajs.js"></script>
}